/*Notes for me
Colors and font styles
dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero secondary text, header link text
18px #E5E7Eb

Header logo text
24px #F9FaF8

*/


body{
     
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.section1{
    background-color: #1f2937;
    
    padding: 0 15% 100px 15%;
    
}
#Headerlogo .logo_text{
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    
    margin-top: 0px 0px 0px 0px;
    padding-left: 50px;
    
        
}

#catmain{
    margin-left: 800px; 
    margin-top: -200px;   

}
    



.mainheader{
    
    color: white;
    display: inline-block;
    font-weight: bold;
    margin: 100px 0 0 0;
    padding-left: 15%;
    font-size: xx-large;
}

.mainpara{
    color: #e5e7eb;
    padding-left: 15%;
    padding-right: 10%;
    margin: 5px 0 0 0;
    height: auto;
    width: 520px;
}

.headerlinks{
    color:white;
    
    
    float: right;
    font-size: 20px;
    margin: 0 5px 0 5px;
    font-weight: bold;
    text-decoration: none;
}