/*Notes for me
Colors and font styles
dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero secondary text, header link text
18px #E5E7Eb

Header logo text
24px #F9FaF8

*/


body{
    border:solid red;    ;
}
.section1{
    background-color: #1f2937;
    
    padding: 0 15% 100px 15%;
    
}
#Headerlogo{
    border: solid red;
    color: white;
    font-weight: bold;
    display: block;
    padding-top: 100px;
    float: left;

    
}

.mainheader{
    color: white;
    border: solid red;
    display: inline-block;
    margin-top: 55px;
    
}

.headerlinks{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    border: solid red;
    float: right;
    font-size: 20px;
    margin: 0 5px 0 5px;
    font-weight: bold;
    text-decoration: none;
}